/**
 * BASE STYLES
*/

:root {
  --main-black: #141414;
  --main-black-alpha: rgba(20, 20, 20, 0.9);
  --main-white: #d8d8d8;
  --teal-dark: #0c6159;
  --blue-dark: #1e618d;
  --blue-dark-alpha: rgba(31, 96, 141, 0.8);
  --blue-highlight: #0f90cc;
  --orange: #d57f00;

  --ss-font: 'Quicksand';
}

* {
  margin: 0;
  padding: 0;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* 1100px */
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 58%;
  }
}
/* 940px */
@media only screen and (max-width: 58.75em) {
  html {
    font-size: 55%;
  }
}
/* 680px */
@media only screen and (max-width: 42.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: var(--ss-font), sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--main-white);
  background-color: var(--main-black);
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 3rem;
}

a {
  color: var(--main-white);
  text-decoration: none;
}

hr {
  width: 50%;
  margin: 0 auto 2rem;
}

.container {
  position: relative;
  overflow-x: hidden;
}

.section__header {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8rem 0;
}

/**
 * UTILITY STYLES 
*/

.wrapper-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  padding: 6rem 4rem;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 68.75em) {
  .wrapper-flex {
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    margin: 0 3rem;
  }
}

.p-tb-10rem {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.tc-blue {
  color: var(--blue-highlight);
}

.tc-blue-dark {
  color: var(--blue-dark);
}

.bg-blue-dark {
  background-color: var(--blue-dark);
}

/**
 * Animations
*/

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

.page-load {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blue-highlight);
  z-index: 500;
  animation: 2s fadeOut forwards ease-out;
}

/* http://tobiasahlin.com/spinkit/ */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cube1,
.cube2 {
  background-color: var(--teal-dark);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  animation-delay: -0.9s;
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/**
 * HEADER
*/

.header {
  display: flex;
  align-items: center;
  width: 100vw;
  min-width: 340px;
  min-height: 8rem;
  position: fixed;
  z-index: 100;
  transition: background-color 0.4s ease-out;
}

/* SITE NAV */

.site-nav {
  width: 100vw;
  height: 9rem;
  transition: height 0.4s ease-out;
}

.site-nav-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav__list {
  font-size: 2.5rem;
  text-transform: uppercase;
  list-style: none;
  min-width: 320px;
}

.site-nav__list-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10rem;
  justify-items: center;
}

@media only screen and (max-width: 43.125em) {
  .site-nav__list-grid {
    display: none;
  }
}

.site-nav__link::before {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  position: relative;
  top: 3.2rem;
  background: var(--main-white);
  transform: scaleX(0);
  transition: all 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.site-nav__link:hover::before {
  transform: scaleX(1);
}

@media only screen and (max-width: 46.25em) {
  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    line-height: 4;
    padding: 4rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 200%;
    bottom: 0;
    visibility: hidden;
    background: var(--blue-highlight);
    transition: all 0.2s ease-in;
    user-select: none;
  }

  .mobile-nav .site-nav__link::before {
    top: 15.5rem;
  }

  .mobile-nav > li:not(:last-child) {
    padding-bottom: 2rem;
  }

  .show {
    visibility: visible;
    left: 0;
  }
}

/* BURGER */

.menu-icon-container {
  position: relative;
  background: transparent;
  left: 100%;
  padding: 20px;
  border: none;
  visibility: hidden;
  z-index: 2;
  cursor: pointer;
}

.menu-icon-container__icon {
  position: absolute;
  width: 5rem;
  height: 3px;
  background: var(--main-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
}

.menu-icon-container__icon:before {
  content: '';
  top: -1.1rem;
  right: 0rem;
  width: 5rem;
  height: 3px;
  background: var(--main-white);
  position: absolute;
  transition: all 0.3s ease-out;
}

.menu-icon-container__icon::after {
  content: '';
  top: 1.1rem;
  right: 0rem;
  width: 5rem;
  height: 3px;
  background: var(--main-white);
  position: absolute;
  transition: all 0.3s ease-out;
}

@media only screen and (max-width: 46.25em) {
  .menu-icon-container {
    visibility: visible;
    left: 20px;
  }
}

.menu-icon-container.toggled .menu-icon-container__icon {
  background: transparent;
}

.menu-icon-container.toggled .menu-icon-container__icon:before {
  transform: rotate(45deg);
  top: 1rem;
}

.menu-icon-container.toggled .menu-icon-container__icon:after {
  transform: rotate(-45deg);
}

/**
 * HERO SECTION
*/

.hero {
  background: linear-gradient(var(--blue-dark) 50%, var(--blue-highlight) 50%);
  background-size: contain;
  z-index: 50;
  background-attachment: fixed;
}

.hero__title {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
}

.hero__h1 {
  font-family: var(--ss-font);
  font-size: 8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  grid-column: 2 / 3;
  align-self: center;
  min-width: 57rem;
}

.hero__h1 > span {
  display: block;
}

@media (max-width: 32.75em) {
  .hero__h1 {
    font-size: 6rem;
  }
}

/**
 * about SECTION
*/

.about {
  background: var(--blue-highlight);
  background-size: cover;
  z-index: 40;
  margin-top: -190px;
  border-top: 190px solid var(--blue-highlight);
  clip-path: polygon(100% 10%, 100% 90%, 0% 100%, 0 0%);
  padding: 10rem 4rem 20rem 4rem;
}

.about > .section__header {
  margin-top: -80px;
}

.about-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10rem;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.about__header {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.about__img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 4px solid var(--blue-dark);
  border-radius: 50%;
}
/* 830px */
@media only screen and (max-width: 51.875em) {
  .about-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 6rem;
  }
}

/**
 * portfolio SECTION
*/

.portfolio {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
}

@media (max-width: 24.375em) {
  .portfolio {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .portfolio__grid {
    grid-template-columns: 1fr;
  }
}

.portfolio__project {
  align-items: stretch;
  background-color: var(--main-black);
  border: 0.1rem solid var(--orange);
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.portfolio__project-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__project-name {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--main-black-alpha);
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__project:hover > .portfolio__project-name {
  opacity: 1;
  right: 0;
}

/**
 * CTA EMAIL
*/

.cta > .section__header {
  margin: 0;
}

.cta-sub-header {
  font-size: 2rem;
  margin-bottom: 0;
}

.cta-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 7rem;
  height: 20vh;
  margin: 2rem auto 0 auto;
  max-width: 640px;
  padding: 0 4vw;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.cta-email {
  outline: none;
  border: none;
  font-family: var(--ss-font);
  font-size: 3rem;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.cta-email::placeholder {
  padding-left: 1rem;
}

.cta-submit {
  font-family: var(--ss-font);
  font-size: 2.5rem;
  font-weight: 700;
  color: #141414;
  padding: 0 2rem;
  background: var(--orange);
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.dialog:not([open]) {
  display: none;
}

.dialog {
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: inherit;
  min-width: 100%;
  height: inherit;
  min-height: 100%;
  padding: 1rem;
  border: none;
  background-color: hsla(0, 0%, 28.2%, 0.8);
  color: inherit;
}

.dialog-content-container {
  display: grid;
  max-width: 860px;
  padding: 1rem;
  width: 60vw;
  background: #1a1a1a;
  text-align: center;
}

.dialog-content-container svg {
  place-self: end;
  cursor: pointer;
}

/**
 * FOOTER
*/

.site-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

@media only screen and (max-width: 31.875em) {
  .site-footer {
    flex-direction: column;
    align-items: center;
  }
  .site-footer > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.site-footer__social-icon {
  width: 50px;
}

.site-footer__link {
  text-align: center;
}

.site-footer__link > span {
  display: block;
}

.site-footer__link:hover {
  opacity: 0.85;
}
