/**
 * BASE STYLES
*/

:root {
  --main-black: #141414;
  --main-black-alpha: rgba(24, 21, 21, 0.95);
  --main-black-rich: #020202;
  --main-black-blue: #000022;
  --main-black-muted: #282a2b;
  --main-white: #d8d8d8;
  --main-white-warm: #FFF1D0;
  --gray-green: #303e3d;
  --main-red: #690b1e;
  --main-red-alpha: rgba(88, 35, 60, 0.9);
  --teal-dark: #0c6159;
  --blue-purple: #4F7CAC;
  --red-highlight: #c2265b;
  --blue-highlight: #03a9f4;
  --green-highlight: #9fd356;
  --ss-font: 'Quicksand';
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  box-sizing: border-box;
  min-width: 340px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 48.75em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 39.375em) {
  html {
    font-size: 35%;
  }
}

body {
  font-family: var(--ss-font), sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--main-white);
  background-color: var(--main-black);
  padding: 0;
  margin: 0;
}

a {
  color: var(--main-white);
  text-decoration: none;
}

hr {
  width: 50%;
  margin: 0 auto 2rem;
}

.container {
  position: relative;
  overflow-x: hidden;
}

.section__header {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 4rem 0 2rem 0;
}

/**
 * UTILITY STYLES 
*/

.wrapper-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  padding: 6rem 0;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 68.75em) {
  .wrapper-flex {
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    margin: 0 3rem;
  }
}

.full {
  width: 100%;
  min-height: 100vh;
}

.p-tb-10rem {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.tc-blue {
  color: var(--blue-highlight);
}

.tc-red {
  color: var(--red-highlight);
}

.tc-teal {
  color: var(--teal-dark);
}

.bg-blue {
  background-color: var(--blue-highlight);
}

.bg-blue-purple {
  background-color: var(--blue-purple);
}

.nav-has-scroll {
  height: 6rem !important;
}

.bg-detail {
  filter: blur(80px);
  height: 17rem;
  position: absolute;
  top: 3rem;
  left: 5rem;
  width: 30.1rem;
}

.bg-detail--red {
  background-color: var(--red-highlight);
}

.bg-detail--blue {
  background-color: var(--blue-highlight);
  transform: translate(163px, 86px);
  mix-blend-mode: color-dodge;
}

/**
 * Animations
*/

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.page-load {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-black);
  z-index: 500;
  animation: 2s fadeOut forwards ease-out;
}

/* http://tobiasahlin.com/spinkit/ */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/**
 * HEADER
*/

.header {
  display: flex;
  align-items: center;
  width: 100vw;
  min-width: 340px;
  position: fixed;
  z-index: 100;
  transition: background-color 0.4s ease-out;
}

.header__logo {
  display: block;
  width: 5rem;
  height: auto;
  margin: 0 5rem;
}

@media only screen and (max-width: 39.375em) {
  .header__logo {
    display: none;
  }
}

/* SITE NAV */

.site-nav {
  width: 100vw;
  height: 9rem;
  transition: height 0.4s ease-out;
}

.site-nav--flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav__list {
  font-size: 2.5rem;
  text-transform: uppercase;
  list-style: none;
}

.site-nav__list--h-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10rem;
}

.site-nav__link {
  /* already inherits color */
}

.site-nav__link:hover {
  /* TODO: add over state */
}

@media only screen and (max-width: 39.375em) {
  .site-nav__list--h-grid {
    display: none;
  }
}

/* .site-nav__link::before,
.site-nav__link::after {
  display: block;
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 6rem;
  background: var(--main-white-warm);
  transition: width .2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.site-nav__link::before {
  right: 0;
}

.site-nav__link::after {
  left: 0;
}

.site-nav__link:hover::before,
.site-nav__link:hover::after {
  width: 55%;
}

@media only screen and (max-width: 39.375em) {
  .site-nav__list {
    display: none;
  }
} */

/* MOBILE NAV */

.site-nav__list--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  line-height: 4;
  padding: 4rem;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 200%;
  bottom: 0;
  visibility: hidden;
  background: var(--blue-highlight);
  transition: left .3s cubic-bezier(0.18, 0.89, 0.32, 1.28), visibility .3s ease-out;
}

.site-nav__list--mobile .site-nav__link {
  color: var(--main-white-warm);
}

.site-nav__list--mobile > li {
  position: relative;
  width: 60%;
  text-align: center;
}

.site-nav__link--mobile::before,
.site-nav__link--mobile::after {
  display: block;
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 6rem;
  background: var(--main-white-warm);
  transition: width .2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.site-nav__link--mobile::before {
  right: 0;
}

.site-nav__link--mobile::after {
  left: 0;
}

.site-nav__link--mobile:hover::before,
.site-nav__link--mobile:hover::after {
  width: 55%;
}

/* BURGER */

.burger-container {
  position: absolute;
  top: 1px;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  background: transparent;
  z-index: 2;
  visibility: hidden;
  right: 100000px;
  cursor: pointer;
}

.burger-icon {
  position: absolute;
  top: 2.5rem;
  width: 5rem;
  height: 3px;
  background: var(--main-white);
  z-index: 1;
  visibility: hidden;
  right: 100000px;
}

.burger-icon:before {
  content: '';
  top: -1.1rem;
  right: 0rem;
  width: 5rem;
  height: 3px;
  background: var(--main-white);
  position: absolute;
}

.burger-icon::after {
  content: '';
  top: 1.1rem;
  right: 0rem;
  width: 5rem;
  height: 3px;
  background: var(--main-white);
  position: absolute;
}

@media only screen and (max-width: 39.375em) {
  .burger-icon {
    right: 0;
    visibility: visible;
  }
  .burger-container {
    right: 5rem;
    visibility: visible;
  }
  .show {
    left: 0;
    visibility: visible;
  }
}

/**
 * HERO SECTION
*/

/* Only show on small screens */

.hero__h1--mobile {
  display: none;
  font-family: var(--ss-font);
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

@media only screen and (max-width: 39.375em) {
  .hero__h1--mobile {
    display: block;
    background: linear-gradient(var(--teal-dark) 50%, var(--blue-highlight) 50%);
    padding: 30rem 0;
    text-align: center;
  }
}

.hero {
  background: linear-gradient(var(--teal-dark) 50%, var(--blue-highlight) 50%);
  background-size: contain;
  z-index: 50;
  /* background-attachment: fixed; */
}

.hero__title {
  position: relative;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 39.375em) {
  .hero__title {
    /* display: none; */
    height: 100%;
    padding: 50rem 4rem;
    text-align: center;
  }
}

.hero__h1 {
  font-family: var(--ss-font);
  font-size: 8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

/**
 * about SECTION
*/

.about {
  background: var(--main-red);
  background: linear-gradient(var(--blue-highlight), var(--main-black-blue));
  background-size: cover;
  z-index: 40;
}

.about-header {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

.about__h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about__h3 {
  font-size: 6rem;
  padding-top: 1rem;
}

.about__quote {
  text-shadow: 1px 2px var(--main-black);
}

.about__quote>cite {
  font-size: 2rem;
}

.about__img {
  max-width: 100%;
  margin: 6rem 0;
  border: 20px solid #141414;
}

/**
 * portfolio SECTION
*/

.portfolio {
  background: linear-gradient(transparent, var(--rose-red));
  padding: 0 4rem;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 8rem;
}

/* @media only screen and (max-width: 68.75em) {
  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
}

@media only screen and (max-width: 48em) {
  .portfolio__grid {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }
} */

.portfolio__project {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: stretch;
  background-color: var(--main-red);
  border: 1rem solid var(--main-red);
  position: relative;
  overflow: hidden;
}

.portfolio__project-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-row: 1/2;
  grid-column: 1/2;
}

.portfolio__project-name {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 4rem 0;
  align-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: var(--blue-highlight);
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
}

.portfolio__project:hover>.portfolio__project-name {
  opacity: 1;
  right: 0;
}

/**
 * Embedded video
*/

/* CSS borrowed from bootstrap responsive embeds */

.video {
  /* background: linear-gradient(var(--main-red), var(--main-black)); */
  background: linear-gradient(var(--rose-red), var(--main-black));
}

.project__video {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.project__video-16by9::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.project__player {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/**
 * CTA EMAIL
*/

.cta-sub-header {
  font-size: 2rem;
}

.cta-form {
  display: block;
  width: 100vw;
  height: 20vh;
  background: var(--rose-red);
  margin: 0 auto;
  position: relative;
}

.cta-email {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  min-width: 160px;
  height: 7vh;
  background: azure;
  outline: none;
  border: none;
  font-family: var(--ss-font);
  font-size: 3rem;
}

.cta-submit {
  position: absolute;
  top: 50%;
  left: 71%;
  transform: translate(-50%, -50%);
  min-width: 15vw;
  height: 7vh;
  border: none;
  font-family: var(--ss-font);
  font-size: 2rem;
}

/**
 * FOOTER
*/

.site-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: var(--main-red);
}

@media only screen and (max-width: 31.875em) {
  .site-footer {
    flex-direction: column;
    align-items: center;
  }
  .site-footer>*:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.links__social-icon {
  width: 50px;
}

.links_link:hover {
  opacity: 0.85;
}